In [2]:

import pandas as pd

In [3]:
DB_path= "Data/Excels/Database.xlsx"
def load_DB(DB_path):
    Sheets= pd.read_excel(DB_path, sheet_name=["FMSI", "Kits", "Shim_crossing", "Kit_crossing", "SHIMS"])
    FMSI= Sheets['FMSI']
    SHIMS= Sheets['SHIMS']
    Kits= Sheets['Kits']
    Shim_crossing= Sheets['Shim_crossing']
    Kit_crossing= Sheets['Kit_crossing']

    FMSI= FMSI.astype(str)
    Shim_crossing= Shim_crossing.astype(str)

    Flat_SHIMS= FMSI.merge(Shim_crossing, on= 'FMSI').merge(SHIMS, on= 'SHIM PN')
    Flat_kits= FMSI.merge(Kit_crossing, on= 'FMSI').merge(Kits, on= 'KIT PN')
    return Flat_SHIMS, Flat_kits, FMSI, SHIMS, Kits, Shim_crossing, Kit_crossing

In [4]:
Flat_SHIMS, Flat_kits, FMSI, SHIMS, Kits, Shim_crossing, Kit_crossing= load_DB(DB_path)

In [5]:
Kit_crossing= Kit_crossing[['FMSI', 'KIT PN']]
Kit_crossing.sort_values(by='KIT PN', inplace=True)

In [6]:
result= Kit_crossing.groupby('KIT PN')['FMSI'].apply(lambda x: ' '.join(x)).reset_index()

In [7]:
result.to_excel("Line_crossing_kits.xlsx")

In [8]:
result

       KIT PN                                               FMSI
0     XLD1001                                              D1743
1     XLD1002                                              D2097
2     XLD1003                                              D1166
3     XLD1004                                        D2076 D2176
4     XLD1006                                        D0959 D1608
...       ...                                                ...
1771  XLD8451  D0645 D0684 D0696 D0228 D0720 D0391 D0565 D042...
1772  XLD8452                                              D0145
1773  XLD8453                                              D0045
1774  XLD8454                                              D0450
1775  XLD8455                                              D1426

[1776 rows x 2 columns]